/* Fix Chat Title/Topics */
div[class*='topic__'],
div[class*='nicknames__'],
div[class*='subtitleCotainer_'] div[class*='children__']{
  width: 0;
}

/* fix forum list mode */
div[class*='list_f369db'][class*='auto__99f8c']{
  position: absolute;
  height: 100%;
}

/* fix VC sizing */
.tileWrapper__6981d{
  position: absolute;
}