[class*=mediaMosaicAltText] {
    position: unset;
    width: 100%;
    line-height: 10px;
    border-radius: .5rem;
    margin-top: 2px;
    background: var(--background-secondary);
    color: var(--interactive-normal);
    border: .0625rem solid rgba(0, 0, 0, 0)
  }
  
  [class*=mediaMosaicAltText]:hover {
    background: var(--background-primary);
    color: var(--interactive-hover);
    border-color: hsl(var(--white-500-hsl)/0.2)
  }
  
  [class*=mediaMosaicAltText]:is(:active, :focus) {
    background: var(--background-secondary-alt);
    color: var(--interactive-active);
    border-color: rgba(0, 0, 0, 0)
  }
  
  [class*=mediaMosaicAltTextPopout] {
    position: relative;
    top: -10px;
    user-select: text
  }
  
  [class*=mediaMosaicAltTextPopout]::before {
    content: "";
    position: absolute;
    border: 5px solid rgba(0, 0, 0, 0);
    border-right-color: var(--background-floating);
    left: -10px;
    top: 18px
  }
  
  [class*=mediaMosaicAltTextPopoutTitle] {
    display: none
  }
  
  [class*=mosaicContainer] [class*=imageContainer]{
    height: 25%
  }