@import url("https://syndishanx.github.io/Discord-Dark/Imports/NormalizedForums.css");
@import url("https://raw.githubusercontent.com/Panniku/vc-snippets/main/BetterSpotifyPlayer.css");
@import url("https://minidiscordthemes.github.io/Snippets/AltTextImprovements/main.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

:root {
  --channelColor: #b370ff;
  --channelColorSec: #ff4120;
  --userColors: #b370ff;
  --uploadBarBackground: #5f3392;
  --uploadBarProgress: #b370ff;
  --mentionBarColor: var(--userColors);
  --expression-picker-aspect-ratio: 1.125 / 1; /* Resize Gif Picker */
  /* chroma Trans Theme */
    --bg-gradient-chroma-glow-1: #73cff4;
    --bg-gradient-chroma-glow-2: #eeafc0, #fff, #eeafc0;
    --bg-gradient-chroma-glow-3: #73cff4;
    --bg-gradient-chroma-glow-4: #73cff4;
    --bg-gradient-chroma-glow-5: #73cff4;

  /* Display Changes */
  --displayUserTags: none; /* inherit = on || none = off */
  --displayShiggyIcons: inherit; /* inherit = on || none = off */
  --showNitroButton: none; /* inherit = on || none = off */
  --showWelcomeButtons: none; /* inherit = on || none = off */
  --showNewMemberIcon: none; /* inherit = on || none = off */
  --showInboxButton: none;
  /* Icon Tweaks */
  --customEmojiIconURL: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless);
  --customEmojiIconMask: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless);
  /* CHANGE CUSTOM EMOJI FROM .gif TO .png TO MAKE STATIC ELEMENTS */
    --contentBlurSize: 3px;
    --shiggyPopoutIcons: url(https://media.discordapp.net/stickers/1217112512374505613.png);
   /* animations */
	  /* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
  --list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.5s ease; /* moon icon spin */
	--icon-spin-transition: 0s ease; /* round icon button spin (settings, emoji, etc.) */
  --word-spacing: 2px;       /* Word spacing */
  --letter-spacing: 0.25px;  /* Letter Spacing */
  --message-line-spacing: 2; /* Line spacing on messages */
  	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: block; /* moon icon */
  --moon-icon-url: url('https://cdn.discordapp.com/emojis/1126125369519513731.gif?size=96&quality=lossless');
}
/* Remove SVG Icon [home] */
[class*=childWrapper] > svg:not([class*=favoriteIcon]){
  display: none;
}

[class*=childWrapper]:has(svg:not([class*=favoriteIcon]))::before {
	content: '';
	display: var(--moon-icon);
	position: absolute;
	width: 70%;
	height: 70%;
	background: var(--text-4);
	mask-image: var(--moon-icon-url) center/contain no-repeat !important;
	mask: var(--moon-icon-url) center/contain no-repeat !important;
}

/* Using an installed font */
div {
  font-family: "Open Sans";
}

[class*="username"], [class*=header], [class*='typingdots' i]{
    font-family: "Open Sans";
    font-weight: bolder !important;
}

li[class*='selected'] [class*="icon"]{
    color: var(--channelColorSec) !important; /*Default Channels*/
}
li[class*='selected'] [d*="M18.91 12.98a5.45 5.45"]{
    fill: var(--channelColor) !important; /*Forum Small*/
}
li[class*='selected'] [d*="M18.09 1.63c.4-.7 1.43-.7"]{
    fill: var(--channelColor) !important; /*NSFW Channel Icon*/
}
li[class*='selected'] [d*="M2 10c0-1.1.9-2 2-2h.5c.28 0"]{
    fill: var(--channelColorSec) !important; /* Announcement Secondary */
}
li[class*='selected'] [d*="M16 4h.5v-.5a2.5 2.5 0"]{
  fill: var(--channelColor) !important; /* Locked Channels */
}
li[class*='selected'] [d*="M14.8 3.34a.48.48 0 0 0-.24-.69A9.94"]{
  fill: var(--channelColorSec) !important; /* NSFW Forums || can't do small due to limitations*/
}
li[class*='selected'] [d*="M13.58 3.23c.24-.33.16-.86-.24-.96C12.59 2.1"]{
  fill: var(--channelColorSec) !important; /* Locked Forums */
  container: ChannelMains;
}

/* DISPLAY NAME CHANGE */
h3[class*="header"] span[role="button"] {
  color: var(--userColors);
  font-size: calc((0.4vw + 60%) - 1px);
}

/* Adds @ symbol in front of usernames */

li[id*="chat-message"] [id*="message-username"]:before {
  display: var(--displayUserTags);
  content: "@";
  color: var(--userColors);
  font-size: calc((0.3vw + 1vh) - 1px);
}


div[class*="userPopoutInner"i] [class*="usertext"i] [class*="usertagusername"i]:before{
  color: var(--userColors);
  content: "@";
  font-size: 15px;
}
  
/*Hide Gift Button*/
button:has([d*="M-7,10 C-8.104999542236328,10 -9"]) {
  display: var(--showNitroButton);
}

/*Reply Color Bar, use !important to override RoleColorPing*/
div[class*=message] [class*=mentioned]:before {
    background-color: var(--mentionBarColor) !important; 
}

.mirror_e336b2 {
  transform: unset;
}

/* PRETTIER SEARCH BAR */
.search_ac353c:not(.open_d3ab4e) > .searchBar__5a20a {
  width: 22px;
  background: transparent;
}

.searchBarComponent__8f95f{
  background: transparent;
}

.search_ac353c:not(.open_d3ab4e) .iconLayout__9d9a4 {
  cursor: pointer;
}

.search_ac353c:not(.open_d3ab4e) .iconContainer__9f124 {
  transform: scale(1.4);
}

.search_ac353c:not(.open_d3ab4e) .icon__5c8c7 {
  color: var(--interactive-normal);
}

.search_ac353c:not(.open_d3ab4e):hover .icon__5c8c7 {
  color: var(--interactive-active);
}


/* AUTO COMPLETE EMOJI ANIMATION */
div[class*=autocompleteInner] [class*=clickable] [class*=base]:hover{
    transition: all 0s;
    transform: scale(1.02);
  }
div[class*=autocompleteInner] [class*=base]{ /* animation controls*/
  transition: all 0.3s;
}

/* FIX PROFILE OVERFLOW */
div[class*="userPopoutOverlayBackground"] {
  max-height: 65vh;
}

/* FIX MARGINS ON GIFS */
div[class*="imageContent"] span[class*="altText"]{
  margin: .25rem 0 -0.15rem;
  line-height: 17px;
}

/* background color of the progress bar */
[class*='progress_' i]{
  background-color: var(--uploadBarBackground) !important;
}
/* the progress bar */
[class*='progressBar' i]{
  background-color: var(--uploadBarProgress) !important;
}


[href="/store"],[href="/shop"]{display:none;} /* hide Shop and Nitro tab in DMs */

/*SendMessage old Icon*/
[d^="M6.6 10.02 14"] {
    d: path("M12.4107 12.7383 3 13.6482.5235 21.5682C.3759 22.0365.5207 22.5483.8934 22.869 1.2646 23.1896 1.792 23.257 2.2335 23.0419L22.8576 13.0548C23.2613 12.8579 23.5172 12.4487 23.5172 12.0001 23.5172 11.5515 23.2611 11.1423 22.8576 10.9454L2.2476.9511C1.806.7359 1.2787.8034.9074 1.1241.5347 1.4447.3899 1.9552.5376 2.4234L3.014 10.3434 12.4064 11.2547C12.7861 11.2926 13.0758 11.6119 13.0758 11.993 13.0758 12.3741 12.7861 12.6933 12.4064 12.7313L12.4107 12.7383Z");
}

/* Custom Emoji Button */
[class*=emojiButton] [class*=spriteColored]{background: var(--customEmojiIconURL) center/contain no-repeat;}

[class*=emojiButton] [class*=spriteGreyscale]{mask: var(--customEmojiIconMask) center/contain no-repeat;}

[id*="popout_"]::after, [class*=menu]::after {
  display: var(--displayShiggyIcons);
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: var(--shiggyPopoutIcons);
    background-size: cover;
}
/* Alternate Shiggy Link: https://media.discordapp.net/stickers/1039992459209490513.png */

/* Automatically resizing gif picker */
[class*="expressionPickerPositionLayer_"] [class*="positionContainer_"] {
    height: calc(100vh - 128px);
}
[class*="expressionPickerPositionLayer_"] [class*="drawerSizingWrapper_"] {
    max-height: 100%;
    bottom: 0px;
    height: auto;
    aspect-ratio: var(--expression-picker-aspect-ratio);
}
/* Fixes soundmoji picker which has a hardcoded height */
[class*="expressionPickerPositionLayer_"] [class*="soundboardContainer_"] [class*="picker_"] {
    height: 100%;
}
/* Welcome User Button */
[class*=welcomeCTA_] {display: var(--showWelcomeButtons)}

main[class*=chatContent]{
    container-type: inline-size;
}

[class*=chatContent] [class*=buttons] {
      max-width: 500px;
}



/* Add Server Button */
[class*=tutorialContainer__6 i]:not([list-item-id*=discover]){
    position: fixed;
    bottom: 0px;
	z-index: 2;

}

[class*=tutorialContainer__6 i] [class*=svg]{
  background-color: #202020;
  opacity: 90%;
  border-radius: 48px;
}


[class*=newMemberBadge i]{
  display: var(--showNewMemberIcon);
}


/* Settings Hide Icon */
.panels__58331>.container_debb33 .flex_f18b02>:not(:last-child) {
  opacity: 0;
  width: 0;
  transition: all 0.3s;
}

.panels__58331>.container_debb33 .flex_f18b02{
  margin-left: auto;
}

.panels__58331>.container_debb33:hover .flex_f18b02>:not(:last-child) {
  opacity: 1;
  width: 28px;
}
[class*=recentsIcon] [class*=iconWrapper]:not(selected){
  display: var(--showInboxButton);
}

/* Remove VC Icons */
[class*=iconGroup]:has([class*=hangStatusIcon], svg>path:not([d*='m2.7 22.7 20-20a1'], [d*='M22.7 2.7a1 1']), [class*=gameIcon]) {
  display: none;
}
/* Remove VC Icon Options [self] */
[class*=layerContainer] [class*=popout]:has([class*=text-xs-medium], [class*=options]){
  display: none;
}

[class*=wumpus] {
  scale: 1;
  content: url(https://media.discordapp.net/stickers/1217112512374505613.png?size=160&passthrough=true);
}
[class*=focusLock]:has([class*=wumpus]) [class*=text-md] {
  font-size: 0 !important;
}
[class*=focusLock]:has([class*=wumpus]) [class*=text-md]::after {
  font-size: 16px !important;
  content: "Relax with Viggy for as long as you need."
}

[class*=unreadImportant]{
background: #73cff4 !important;
}
/* video Call Button */
[class*=toolbar] [role=button]:has([d*='M4 4a3 3 0 0']){
  display: none;
}
[class*=notice__]{
  background-color: var(--background-primary);
}

[class*=iconGroup]:has([class*=hangStatusIcon], [d*='M13 3a1'], [class*=gameIcon]) {
  display: flex;
  position: absolute;
  right: 100%;
}
[class*=layerContainer] [class*=popout]:has([class*=text-xs-medium], [class*=options]){
  display: block;
}

[id*=user-context-call]{
  display: none;
}
[class*=sticker]{
  border-radius: 10px;
}

/* Hide Channel Invite */
#channels [class*=actionIcon]:has([d*="M19 14a1 1 0 0 1"]){
  display: none;
}

/* Improved Timestamp visibility */
[class*=messageContent] [class*=timestamp]:not(:has([class*=edited])) {
  border: 2px solid var(--brand-500);
  border-radius: 8px;
  font-size: smaller;
}
[class*=messageContent] [class*=timestamp]:not(:has([class*=edited]))::before {
  content: "🕔";
  margin-left: -2px;
  display: inline-flex;
}
[class*=messageContent] [class*=timestamp]:not(:has([class*=edited]))::after {
  content: "";
  margin-right: 2px;
}

[class*=embedFull] {
    border: 3px solid !important;
}


/* BETTER FOLDERS */
[class*=closedFolderIcon]{
  display:none; 
}

div[class*="folderIconWrapper" i]:not([style=""]):before, [class*="foldericonwrapper" i]:not([style=""]):after{
  position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    inset: 0;
    margin: auto;
    background-color: inherit;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    filter: brightness(1.5) saturate(1.5);
}

div[class*=wrapper] [class*="expandedFolderBackground" i]{
 background-color: inherit;
 filter: brightness(1.5) saturate(1.5);
}

div[class*="folderIconWrapper" i] [class*=expandedFolderIconWrapper]{
      transform: none !important;
}

/* no class selectors
/* Changing the server pill sizing, color and bnehaviour */
.wrapper__216eb .pill_d1140c,
.wrapper__216eb .pill__66ac8 {
    display: none;
}

.wrapper__216eb .pill__6b31b,
.wrapper__216eb .pill__13f64 {
    /* left: 0 !important; */
    /* top: calc(24px * var(--guildsize_v)/50) !important; */
    height: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    transition: 0.2s;
}

.item_f9d377 {
    width: 4px !important;
    min-height: 30% !important;
    border-radius: .25rem !important;
    margin: 0 !important;
    background-color: var(--channelColor) !important;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.listItem__48528:hover .item_f9d377 {
    height: 50% !important;
    background-color: var(--channelColorSec) !important;
    transition: 0.3s;
  
}

/* Resizable ChannelList */
.separator__666aa {
  margin: 0;
  justify-content: center;
  width: 40px;
}
.separator__666aa::before {
  display: none;
}
.separator__666aa .innerButton__9efb8 {
  margin: 0;
}
.textArea_a86690 {
  width: fit-content;
  flex-grow: 1.01;
}

.sidebar_e031be {
resize: horizontal;
width: var(--sidebar-initial-width);
}
.sidebar_e031be .channel__0aef5 {
max-width: unset;
}
.bannerImage_c73a57,
.bannerImg_fe5c1b {
width: 100%;
}
