@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url("https://syndishanx.github.io/Discord-Dark/Imports/NormalizedForums.css");
@import url("https://raw.githubusercontent.com/Panniku/vc-snippets/main/BetterSpotifyPlayer.css");
@import url("https://minidiscordthemes.github.io/Snippets/AltTextImprovements/main.css");

:root {
  --channelColor: #b370ff;
  --channelColorSec: #ff4120;
  --userColors: #b370ff;
  --mentionBarColor: var(--userColors);
  --expression-picker-aspect-ratio: 1.125 / 1; /* Resize Gif Picker */
  /* chroma Trans Theme */
    --bg-gradient-chroma-glow-1: #73cff4;
    --bg-gradient-chroma-glow-2: #eeafc0, #fff, #eeafc0;
    --bg-gradient-chroma-glow-3: #73cff4;
    --bg-gradient-chroma-glow-4: #73cff4;
    --bg-gradient-chroma-glow-5: #73cff4;
  /* Shiggy Cursor|| uncomment to enable */
  /* --cursor: url('https://schizophrenic.lol/assets/shiggy.cur'); */
  --displayUserTags: none; /* inherit = on || none = off */
  --displayShiggyIcons: inherit; /* inherit = on || none = off */
  --showNitroButton: none; /* inherit = on || none = off */
  --uploadBarBackground: #5f3392;
  --uploadBarProgress: #b370ff;
  --emojiButtons: 6;
  --chatColumns: 2;
  --showWelcomeButtons: none; /* inherit = on || none = off */
  --showNewMemberIcon: none; /* inherit = on || none = off */
  --customEmojiIconURL: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless);
  --customEmojiIconMask: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless);
  /* CHANGE CUSTOM EMOJI FROM .gif TO .png TO MAKE STATIC ELEMENTS || SIZE SHOULD BE 128 */
    --contentBlurSize: 3px;
}

html {
    cursor: var(--cursor), default;
}

span [class*="username"] {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
div {
  font-family: "Open Sans", sans-serif;
}


li[class*='selected'] [class*="icon"]{
    color: var(--channelColor) !important; /*Default Channels*/
}
li[class*='selected'] [d*="M18.91 12.98a5.45 5.45"]{
    fill: var(--channelColorSec) !important; /*Forum Small*/
}
li[class*='selected'] [d*="M18.09 1.63c.4-.7 1.43-.7"]{
    fill: var(--channelColorSec) !important; /*NSFW Channel Icon*/
}
li[class*='selected'] [d*="M2 10c0-1.1.9-2 2-2h.5c.28 0"]{
    fill: var(--channelColor) !important; /* Announcement Secondary */
}

/* DISPLAY NAME CHANGE */
h3[class*="header"] span[role="button"] {
  color: #b370ff;
  font-family: "Open Sans";
  font-size: calc((0.4vw + 60%) - 1px);
}

/* Adds @ symbol in front of usernames */

li[id*="chat-message"] [id*="message-username"]:before {
  display: var(--displayUserTags);
  content: "@";
  color: var(--userColors);
  font-size: calc((0.3vw + 1vh) - 1px);
}


div[class*="userPopoutInner"i] [class*="usertext"i] [class*="usertagusername"i]:before{
  color: var(--userColors);
  content: "@";
  font-size: 15px;
}
  
/*Hide Gift Button*/
button:has([d*="M-7,10 C-8.104999542236328,10 -9"]) {
  display: var(--showNitroButton);

}

/*Reply Color Bar, use !important to override RoleColorPing*/
div[class*=message] [class*=mentioned]:before {
    background-color: var(--mentionBarColor) !important; 
}

.mirror_e336b2 {
  transform: unset;
}

/* PRETTIER SEARCH BAR */
div[class^="toolbar"] [class*=icon] [class^=iconContainer]{ /* Make the Search icon match the styling of the other icons.*/
  width: 21px;
  height: 21px;
  color: var(--interactive-normal);
  transition: ease-in-out .3s;
}

div[class^="toolbar"] [class*=searchBar]{ /*Fully Hide the search bar*/
  width: 21px;
  height: 24px;
  padding: 0;
  background: none;
  transition: ease-in-out 0.3s!important;
}

div[class*=toolbar] [class*=searchBar]:hover{ /*Reveal Search Bar on Hover*/
    width: 175px;
  background: var(--background-tertiary);
  border: 1px solid var(--button-outline-primary-border-hover);
}

/* REMOVE REPLY AVATARS */
[class*="repliedMessage"] [class*="avatar" i]{
  display: none;
}



/* AUTO COMPLETE EMOJI ANIMATION */
div[class*=autocompleteInner] [class*=clickable] [class*=base]:hover{
    transition: all 0s;
    transform: scale(1.02);
  }
div[class*=autocompleteInner] [class*=base]{ /* animation controls*/
  transition: all 0.3s;
}

/* FIX PROFILE OVERFLOW */
div[class*="userPopoutOverlayBackground"] {
  max-height: 65vh;
}

/* FIX MARGINS ON GIFS */
div[class*="imageContent"] span[class*="altText"]{
  margin: .25rem 0 -0.15rem;
  line-height: 17px;
}

/* background color of the progress bar */
[class*='progress_' i]{
  background-color: var(--uploadBarBackground) !important;
}
/* the progress bar */
[class*='progressBar' i]{
  background-color: var(--uploadBarProgress) !important;
}


[href="/store"],[href="/shop"]{display:none;} /* hide Shop and Nitro tab in DMs */

/*SendMessage old Icon*/
[d^="M6.6 10.02 14"] {
    d: path("M12.4107 12.7383 3 13.6482.5235 21.5682C.3759 22.0365.5207 22.5483.8934 22.869 1.2646 23.1896 1.792 23.257 2.2335 23.0419L22.8576 13.0548C23.2613 12.8579 23.5172 12.4487 23.5172 12.0001 23.5172 11.5515 23.2611 11.1423 22.8576 10.9454L2.2476.9511C1.806.7359 1.2787.8034.9074 1.1241.5347 1.4447.3899 1.9552.5376 2.4234L3.014 10.3434 12.4064 11.2547C12.7861 11.2926 13.0758 11.6119 13.0758 11.993 13.0758 12.3741 12.7861 12.6933 12.4064 12.7313L12.4107 12.7383Z");
}

/* Custom Emoji Button */
[class*=emojiButton] [class*=spriteColored]{background: var(--customEmojiIconURL) center/contain no-repeat;}

[class*=emojiButton] [class*=spriteGreyscale]{mask: var(--customEmojiIconMask) center/contain no-repeat;}

[id*="popout_"]::after, [class*=menu]::after {
  display: var(--displayShiggyIcons);
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url('https://media.discordapp.net/stickers/1217112512374505613.png');
    background-size: cover;
}
/* Alternate Shiggy Link: https://media.discordapp.net/stickers/1039992459209490513.png */

/* message button tweaks */
.buttons__7ecff {
    margin: 6px 6px 6px auto !important;
    margin-left: auto;
    max-width: calc(calc(5vw) * var(--emojiButtons)); /* CHANGE HERE: 6 columns when expanded */
    min-width: calc(40px * var(--chatColumns)); /* CHANGE HERE: 2 columns when collapsed */
    width: min-content;
    display: flex;
    gap: 6px 0;
    flex-wrap: wrap-reverse;
    flex-grow: 1;
    height: fit-content;
    justify-content: right;
}
.buttons__7ecff .buttonContainer_ff1010,
.buttons__7ecff > .button__581d0 {
    width: 40px;
}
.separator__666aa {
    margin: 0;
    justify-content: center;
    width: 40px;
}
.separator__666aa::before {
    display: none;
}
.separator__666aa .innerButton__9efb8 {

    margin: 0;
}
.textArea_a86690 {
    width: fit-content;
    flex-grow: 1.01;
}

/* Automatically resizing gif picker */
[class*="expressionPickerPositionLayer_"] [class*="positionContainer_"] {
    height: calc(100vh - 128px);
}
[class*="expressionPickerPositionLayer_"] [class*="drawerSizingWrapper_"] {
    max-height: 100%;
    bottom: 0px;
    height: auto;
    aspect-ratio: var(--expression-picker-aspect-ratio);
}
/* Fixes soundmoji picker which has a hardcoded height */
[class*="expressionPickerPositionLayer_"] [class*="soundboardContainer_"] [class*="picker_"] {
    height: 100%;
}
[class*=welcomeCTA_] {display: var(--showWelcomeButtons)}


main[class*=chatContent]{
    container-type: inline-size;
}

[class*=chatContent] [class*=buttons] {
      max-width: 500px;
}

/* Spoiler Blur */
[class*=spoilerMarkdownContent i]{
  background-color: transparent;
}

[class*=obscuredTextContentInner]{
  color: var(--text-3);
}

[class*=obscuredTextContentInner i] code, [class*=obscuredTextContentInner i] span{
    opacity: unset;
    -webkit-transition: none;
    transition: none;
}
[class*=hidden] [class*=obscuredTextContentInner i] span{
  filter: blur(4px);
}

/* Spoiler Blur */
[class*=spoilerMarkdownContent i]{
  background-color: transparent;
}

[class*=obscuredTextContentInner]{
  color: var(--text-3);
}

[class*=obscuredTextContentInner i] code, [class*=obscuredTextContentInner i] span{
    opacity: unset;
    -webkit-transition: none;
    transition: none;
}
[class*=hidden] [class*=obscuredTextContentInner i] span{
  filter: blur(var(--contentBlurSize));
}
*/ Add Server Button */
[class*=tutorialContainer__6 i]{
    position: fixed;
    bottom: 0px;
	z-index: 1

}

[class*=tutorialContainer__6 i] [class*=svg]{
  background-color: #202020;
  opacity: 90%;
  border-radius: 48px;
}
.scroller_de945b{
  padding: 50px
}


[class*=newMemberBadge i]{
  display: var(--showNewMemberIcon);
}
