/**
 * @name midnight (trans)
 * @description A dark, rounded discord theme. Based on Biscuit theme (https://github.com/Biscuit-Colorscheme/biscuit).
 * @author refact0r, LuSaffi
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/midnight.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://github.com/LuSaffi/VenCordstuff/blob/main/Themes/Midnight/transMidnight.css?raw=true');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'Open Sans', 'Noto Color Emoji';
  	/* chroma Trans Theme */
  --bg-gradient-chroma-glow-1: #73cff4;
  --bg-gradient-chroma-glow-2: #eeafc0, #ffffff, #eeafc0;
  --bg-gradient-chroma-glow-3: #73cff4;
  --bg-gradient-chroma-glow-4: #73cff4;
  --bg-gradient-chroma-glow-5: #73cff4;
	/* color of status indicators and window controls */
	--online-indicator: #73cff4; /* change to #23a55a for default green */
	--dnd-indicator: #cf223e; /* change to #f13f43 for default red */
	--idle-indicator: #e3be45; /* change to #f0b232 for default yellow */
	--streaming-indicator: #7a3dbe; /* change to #593695 for default purple */

	/* top left corner text */
	--corner-text: 'Trans Rights!';

	--channelColor: #eeafc0;
	--channelColorSec: #73cff4;
	--userColors: #b370ff;
	/* accent colors */
	--accent-1: var(--channelColorSec); /* links */
	--accent-2: #73cff4d2; /* general unread/mention elements */
	--accent-3: #73cff4; /* accent buttons */
	--accent-4: #625077; /* accent buttons when hovered */
	--accent-5: #564568; /* accent buttons when clicked */
	--mention: #6250771a; /* mentions & mention messages */
	--mention-hover: #6250770d; /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: white; /* text on colored elements */
	--text-1: var(--channelColor); /* other normally white text */
	--text-2: #9facc6; /* headings and important text */
	--text-3: var(--channelColor); /* normal text */
	--text-4: var(--channelColor); /* icon buttons and channels */
	--text-5: #eeafc093; /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: #eeafc05e; /* dark buttons when clicked */
	--bg-2: #73cff48c; /* dark buttons */
  	--bg-3: #1c1f26; /* spacing, secondary elements */
	--bg-4: #1c2c33e1; /* main background color */
	--hover: #52587a1a; /* channels and buttons when hovered */
	--active: #eeafc04d; /* channels and buttons when clicked or selected */
	--message-hover: hsla(345, 0%, 0%, 0.1); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.5s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--home-icon: block; /* moon icon */
  	--home-icon-url: url('https://cdn.discordapp.com/emojis/1126125369519513731.gif?size=96&quality=lossless');
	--home-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
}

div, span, body, p, *{
	font-family: var(--font) !important;
  }
  
  [class*="username"], [class*=header], [class*='typingdots' i]{
	  font-family: var(--font);
	  font-weight: bolder !important;
  }